body {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: rgb(94, 74, 69);
}

a {
  text-decoration: none;
  color: rgb(94, 74, 69);
}

li {
  list-style: none;
}